# Requirements Quake III Logs Parsing

given a file containing a text which is a list of logs, write a program that
- reads the reads the file
- parses its content

the log consists of sections of individual games separated by keywords
for every game section there a number of events, such as kills between players, kills by world, players
killing themselves.
Based on these logs you have to produce a scoreboard.
World doesn't count as a player.

## Use Cases

###Use Case 1
Given the following log input
20:37 InitGame: \sv_floodProtect\1\sv_maxPing\0\sv_minPing\0\sv_maxRate\10000\sv_minRate\0\sv_hostname\Code Miner Server\g_gametype\0\sv_privateClients\2\sv_maxclients\16\sv_allowDownload\0\bot_minplayers\0\dmflags\0\fraglimit\20\timelimit\15\g_maxGameClients\0\capturelimit\8\version\ioq3 1.36 linux-x86_64 Apr 12 2009\protocol\68\mapname\q3dm17\gamename\baseq3\g_needpass\0
20:38 ClientUserinfoChanged: 2 n\Isgalamido\t\0\model\uriel/zael\hmodel\uriel/zael\g_redteam\\g_blueteam\\c1\5\c2\5\hc\100\w\0\l\0\tt\0\tl\0
20:54 Kill: 1022 2 22: <world> killed Isgalamido by MOD_TRIGGER_HURT
22:06 Kill: 2 3 7: Isgalamido killed Mocinha by MOD_ROCKET_SPLASH
22:18 Kill: 2 2 7: Isgalamido killed Isgalamido by MOD_ROCKET_SPLASH
0:00 InitGame: \sv_floodProtect\1\sv_maxPing\0\sv_minPing\0\sv_maxRate\10000\sv_minRate\0\sv_hostname\Code Miner Server\g_gametype\0\sv_privateClients\2\sv_maxclients\16\sv_allowDownload\0\dmflags\0\fraglimit\20\timelimit\15\g_maxGameClients\0\capturelimit\8\version\ioq3 1.36 linux-x86_64 Apr 12 2009\protocol\68\mapname\q3dm17\gamename\baseq3\g_needpass\0
1:08 Kill: 3 2 6: Isgalamido killed Mocinha by MOD_ROCKET
1:26 Kill: 1022 4 22: <world> killed Zeh by MOD_TRIGGER_HURT
1:41 Kill: 1022 2 19: <world> killed Dono da Bola by MOD_FALLING
7:12 Kill: 5 5 7: Assasinu Credi killed Assasinu Credi by MOD_ROCKET_SPLASH

When the user processes the logs
Then the console output should look as follows:

game 1
  total kills: 3
  players: "Mocinha", "Isgalamido"
  scoreboard:
    "Isgalamido": 1
    "Mocinha": 0
game 2
  total kills: 3
  players: "Mocinha", "Isgalamido", "Zeh", "Dono da Bola", "Assasinu Credi"
  "Isgalamido": 1
  "Mocinha": 0
  "Assasinu Credi": 0
  "Zeh": -1
  "Dono da Bola": -1
